@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Ubuntu:wght@300;400&display=swap');

.Middle--div{
  display: flex;
  flex-direction: column;
  margin: 10px 300px;
  width: 70vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}



input{
  width: 20vw;
  margin-left: 370px;
}

.matGridListClass{
  margin: 270px;
}

mat-grid-tile {
    background: lightblue;
  }

  .mat-grid-tile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;

}

