<!-- {{githubUserData | json}} -->
<div class="container my-3">
    <button (click)="fetchData()" class="btn btn-danger">{{statusButton}}</button>
    <div [hidden]="isReady">
        <h1>{{githubUserData.name}}</h1>
        <h2>{{githubUserData.bio}}</h2>

        <p>{{githubUserData.id}}</p>
        <p>{{githubUserData.location}}</p>

        <p>{{githubUserData.company}}</p>
    </div>
</div>


<div class="container my-2">
    <h4>Enter your Input</h4>
    <input type="text" class="form-control" [(ngModel)]="githubUser" name="githubUser">
    <button class="btn btn-dark my-1" (click)="showResult()">Show</button>
    {{Result | json}}
</div>