<table class="table table-striped container my-2">
  <thead>
    <tr>
      <th scope="col">Employee Name</th>
      <th scope="col">Employee Age</th>
      <th scope="col">Employee ID</th>
      <th scope="col">Skills</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employeeRecord">
      <th>{{ employee.employeeName }}</th>
      <td>{{ employee.employeeAge }}</td>
      <td>{{ employee.employeeId }}</td>
      <td>
        <ul *ngFor="let skill of employee.employeeSkills">
          <li>{{ skill }}</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
