<div class="Calculator--Container">
  <h1>Perform Calculations</h1>
  <form #myform="ngForm" class="example-form">
    <mat-form-field class="example-full-width">
      <input
        type="number"
        matInput
        name="firstNumber"
        id="firstNumber"
        (input)="menuFunction()"
        [(ngModel)]="firstNumber"
        placeholder="Number-1"
      />
      <br />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input
        type="number"
        matInput
        name="secondNumber"
        id="secondNumber"
        (input)="menuFunction()"
        [(ngModel)]="secondNumber"
        placeholder="Number-2"
      />
      <br />
    </mat-form-field>
  </form>

  <mat-form-field appearance="fill">
    <mat-select [(ngModel)]="optionText" (ngModelChange)="mapOptionToEnum()">
      <mat-option *ngFor="let opr of operationArray" [value]="opr.value">
        {{ opr.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <p>The option chosen is {{ optionText }} and the result is: {{ result }}</p>
</div>
