<div class="Display--Repositories">
  <h2>Display All the Repositories</h2>
  <button mat-raised-button color="primary" (click)="fetchProjectResponse()">
    {{ buttonName }}
  </button>
</div>

<table
  class="table table-striped table-hover container"
  [hidden]="toggleDisplay"
>
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Node Id</th>
      <th>Default Branch</th>
      <th>Open Issues</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let repo of repos" class="table-active">
      <td style="color: rgb(7, 52, 76)">{{ repo.full_name }}</td>
      <td style="color: rgb(7, 52, 76)">{{ repo.node_id }}</td>
      <td style="color: rgb(7, 52, 76)">{{ repo.default_branch }}</td>
      <td style="color: rgb(7, 52, 76)">{{ repo.open_issues }}</td>
    </tr>
  </tbody>
</table>
