<router-outlet></router-outlet>
<div class="GoBack--Button" [hidden]="goBackVariable">
  <section>
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
          <button
            mat-fab
            color="warn"
            aria-label="Example icon button with a home icon"
            routerLink="/"
          >
            <mat-icon>home</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
