.demo{
    color: red;
    font-size: 25px;
}

.example{
    color: blue;
    font-size: 20px;
}

.nav-item{
    margin-left: 1px;
}

.GoBack--Button{
    display: flex;
    position: fixed;
    bottom: 10px;
    right: 10px;
}