<div class="Customer--Container">
  <p [ngStyle]="style1">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, ipsum.
  </p>

  <button mat-raised-button color="warn" (click)="changeStyle()">
    Change Style
  </button>

  <p [style.color]="styleClass" class="my-2">Displaying message</p>

  <button mat-raised-button color="accent" (click)="ShowData()">
    Display Data
  </button>
  <div class="DisplayDataClass my-4" *ngIf="employee[0].age">
    <p>{{ employee[0].name }}</p>
    <p>{{ employee[0].age }}</p>
    <p>{{ employee[0].email }}</p>
    <p>{{ employee[0].skills }}</p>
  </div>
</div>
